<h2>Schools Add</h2>
<ul>
  <h2>{{schoolCtrl.school.name}}</h2>
  <div class="container container-small">
    <div ui-view class="slide">
      <form class="form-horizontal" ng-submit="schoolCtrl.editSchool()">
      <div class="form-group">
        <div class="col-md-5 control-label">
          <label for="name" class="margin-b-n"><strong class="text-danger">*</strong> name</label>
          <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="schoolCtrl.checkingname"></i>
          <i class="fa fa-check pull-right fa-lg" ng-show="schoolCtrl.availablename"></i>-->
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control" id="name" name="name" ng-model="schoolCtrl.school.name" required>
        </div>
      </div>
  
      <!--form-group-->
      <div class="form-group">
        <div class="col-md-5 control-label">
          <label for="websiteUrl" class="margin-b-n"><strong class="text-danger">*</strong> websiteUrl</label>
        </div>
        <div class="col-md-7">
          <input type="websiteUrl" class="form-control" id="websiteUrl" min="6" max="20" name="websiteUrl" required ng-model="schoolCtrl.school.websiteUrl">
        </div>
      </div>
  
      <div class="form-group text-center" ng-show="schoolCtrl.loginError">
        <p class="text-danger">{{schoolCtrl.errorMessage}}</p>
      </div>
        
      <button class="btn btn-primary btn-block margin-b-l"  type="submit">Add</button>
    </form>
    </div>
  </div>
</ul>
