<main-navbar></main-navbar>

<div class="row">
  <div class="span3">
    <div class="pa-sidebar well well-small">
      <ul class="nav nav-list">
        <div class="container-fluid">
          <h1>Main page</h1>
          <button class="btn btn-danger" ng-click="main.logout()">Log out</button>
        </div>
      </ul>
    </div>
  </div>

  <!-- Our unnamed main ui-view for this template -->
  <div ui-view class="span9 slide"></div>
</div>

<div class="container-fluid">
  <h1>Main page</h1>
  <button class="btn btn-danger" ng-click="main.logout()">Log out</button>
</div>