<h2>Clients Add</h2>
<ul>
  <h2>{{clientCtrl.client.name}}</h2>
  <div class="container container-small">
    <div ui-view class="slide">
      <form class="form-horizontal" ng-submit="clientCtrl.editClient()">
      <div class="form-group">
        <div class="col-md-5 control-label">
          <label for="name" class="margin-b-n"><strong class="text-danger">*</strong> name</label>
          <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="clientCtrl.checkingname"></i>
          <i class="fa fa-check pull-right fa-lg" ng-show="clientCtrl.availablename"></i>-->
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control" id="name" name="name" ng-model="clientCtrl.client.name" required>
        </div>
      </div>
  
      <!--form-group-->
      <div class="form-group">
        <div class="col-md-5 control-label">
          <label for="phone" class="margin-b-n"><strong class="text-danger">*</strong> phone</label>
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control" id="phone" min="6" max="20" name="phone" required ng-model="clientCtrl.client.phone">
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-md-5 control-label">
          <label for="email" class="margin-b-n"><strong class="text-danger">*</strong> email</label>
          <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="clientCtrl.checkingemail"></i>
          <i class="fa fa-check pull-right fa-lg" ng-show="clientCtrl.availableemail"></i>-->
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control" id="email" name="email" ng-model="clientCtrl.client.email" required>
        </div>
      </div>
  
      <div class="form-group text-center" ng-show="clientCtrl.clientError">
        <p class="text-danger">{{clientCtrl.errorMessage}}</p>
      </div>
        
      <button class="btn btn-primary btn-block margin-b-l"  type="submit">Add</button>
    </form>
    </div>
  </div>
</ul>
