<h2>Payment</h2>
<ul>
	<div class="container container-small">
		<div ui-view class="slide">
			<form class="form-horizontal" layout="column" ng-submit="editPayment(payment, )">
      
			<!--form-group-->
       <div class="form-group">
        <div class="col-md-5 control-label">
          <label for="paymentType" class="margin-b-n"><strong class="text-danger">*</strong> paymentType</label>
        </div>
        <div class="col-md-7">
          
   <select class="form-control" id="paymentType" name="paymentType" required ng-options="paymentType._id as paymentType.name for paymentType in paymentTypes" ng-model="payment.paymentType._id" >
    <option></option>
   </select>
        </div>
    </div>
  <!--form-group-->
  <div class="form-group">
   <div class="col-md-5 control-label">
     <label for="description" class="margin-b-n"><strong class="text-danger">*</strong> Description</label>
     <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checkingdescription"></i>
     <i class="fa fa-check pull-right fa-lg" ng-show="availabledescription"></i>-->
   </div>
   <div class="col-md-7">
     <input type="text" class="form-control" id="description" name="description" ng-model="payment.description" required>
   </div>
  </div>
  <!--form-group-->
  <div class="form-group">
   <div class="col-md-5 control-label">
     <label for="expectedDate" class="margin-b-n"><strong class="text-danger">*</strong> Expected Date</label>
     <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checking_ATt_Value"></i>
     <i class="fa fa-check pull-right fa-lg" ng-show="available_ATt_Value"></i>-->
   </div>
   <div class="col-md-7">
     <input type="date" class="form-control" id="expectedDate" name="expectedDate" ng-model="payment.expectedDate" >
   </div>
  <!--<div class="form-group" ng-show="available_ATt_ == false"><p class="pull-right text-danger" >_att_display already been taken</p></div>-->
  </div>
  <!--form-group-->
  <div class="form-group">
   <div class="col-md-5 control-label">
     <label for="expectedValue" class="margin-b-n"><strong class="text-danger">*</strong> Expected value</label>
     <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checkingexpectedValue"></i>
     <i class="fa fa-check pull-right fa-lg" ng-show="availableexpectedValue"></i>-->
   </div>
   <div class="col-md-7">
     <input type="text" class="form-control" id="expectedValue" name="expectedValue" ng-model="payment.expectedValue" required>
   </div>
  </div>
  <!--form-group-->
  <div class="form-group">
   <div class="col-md-5 control-label">
     <label for="commPerc" class="margin-b-n"><strong class="text-danger">*</strong> billed comm(%)</label>
     <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checkingcommPerc"></i>
     <i class="fa fa-check pull-right fa-lg" ng-show="availablecommPerc"></i>-->
   </div>
   <div class="col-md-7">
     <input type="text" class="form-control" id="commPerc" name="commPerc" ng-model="payment.commPerc" required>
   </div>
  </div>
  <!--form-group-->
  <div class="form-group">
   <div class="col-md-5 control-label">
     <label for="paymentGts" class="margin-b-n"><strong class="text-danger">*</strong> GTS</label>
     <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checkingpaymentGts"></i>
     <i class="fa fa-check pull-right fa-lg" ng-show="availablepaymentGts"></i>-->
   </div>
   <div class="col-md-7">
     <input type="text" class="form-control" id="paymentGts" name="paymentGts" ng-model="payment.paymentGts" required>
   </div>
  </div>
  <!--form-group-->
  <div class="form-group">
   <div class="col-md-5 control-label">
     <label for="receivedDate" class="margin-b-n"><strong class="text-danger">*</strong> Received on</label>
     <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checking_ATt_Value"></i>
     <i class="fa fa-check pull-right fa-lg" ng-show="available_ATt_Value"></i>-->
   </div>
   <div class="col-md-7">
     <input type="date" class="form-control" id="receivedDate" name="receivedDate" ng-model="payment.receivedDate" >
   </div>
  <!--<div class="form-group" ng-show="available_ATt_ == false"><p class="pull-right text-danger" >_att_display already been taken</p></div>-->
  </div>
  <!--form-group-->
  <div class="form-group">
   <div class="col-md-5 control-label">
     <label for="receivedValue" class="margin-b-n"><strong class="text-danger">*</strong> Received value</label>
     <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checkingreceivedValue"></i>
     <i class="fa fa-check pull-right fa-lg" ng-show="availablereceivedValue"></i>-->
   </div>
   <div class="col-md-7">
     <input type="text" class="form-control" id="receivedValue" name="receivedValue" ng-model="payment.receivedValue" required>
   </div>
  </div>
			
				<button class="btn btn-primary btn-block margin-b-l"  type="submit">Send</button>
			</form>
		</div>
	</div>
</ul>

