<h2>Student</h2>
<ul>
	<div class="container container-small">
		<div ui-view class="slide">
			<form class="form-horizontal" layout="column" ng-submit="editStudent(student)">
      
			  <!--form-group-->
        <div class="form-group">
          <div class="col-md-5 control-label">
            <label for="institutionCode" class="margin-b-n"><strong class="text-danger">*</strong> Code</label>
            <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checkinginstitutionCode"></i>
            <i class="fa fa-check pull-right fa-lg" ng-show="availableinstitutionCode"></i>-->
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="institutionCode" name="institutionCode" ng-model="student.institutionCode" required>
          </div>
        </div>
        
        <!--form-group-->
        <div class="form-group">
          <div class="col-md-5 control-label">
            <label for="name" class="margin-b-n"><strong class="text-danger">*</strong> Name</label>
            <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checkingname"></i>
            <i class="fa fa-check pull-right fa-lg" ng-show="availablename"></i>-->
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="name" name="name" ng-model="student.name" required>
          </div>
        </div>
        
        <!--form-group-->
        <div class="form-group">
          <div class="col-md-5 control-label">
            <label for="email" class="margin-b-n"><strong class="text-danger">*</strong> Email</label>
            <!--<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="checkingemail"></i>
            <i class="fa fa-check pull-right fa-lg" ng-show="availableemail"></i>-->
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="email" name="email" ng-model="student.email" required>
          </div>
        </div>
			
				<button class="btn btn-primary btn-block margin-b-l"  type="submit">Send</button>
			</form>
		</div>
	</div>
</ul>

